extends Layout_4_Home_Page

block title
    title Welcome to AdSoc
    
block f1
  .Wrapper
    br
    div.edit1 Looking for a Job!
    br
    div.head1 Get Jobs fast! And broaden your experience with us
    br
    br
    a.b1(href='/searchPage') BROWSE JOBS NOW

block f2
  .Wrapper
    br
    div.edit2 I am an Employer
    br
    div.head2 Create an Account and Sign-up quick to post a Job!
    br
    br
    a(href='/employer/signup').b2 Join us now!

