extends home_layout

block title
    title Welcome to AdSoc
    
block f1
  .Wrapper
    h2.edit Looking for a Job!
    br
    h4 Get Jobs fast! And broaden your experience with us
    br
    br
    a.b1(href='/searchPage') Browse Jobs Now

block f2
  .Wrapper
    h2.edit I am an Employer
    br
    h4 Create an Account and Sign-up quick to post a Job!
    br
    br
    a.b2 Post Now

