doctype html
html(lang='en')

header
    block title
    include header
    link(rel='stylesheet', href='/stylesheets/profile_view.css')
    link(rel='stylesheet', href='/stylesheets/nav1.css')

    link(href="https://fonts.googleapis.com/css?family=Bubbler+One|Fira+Sans+Extra+Condensed|Quicksand|Roboto" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet")
    
    script(src='/javascripts/jobView.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js',integrity='sha384-c5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')

body
    include navbar
    .container          
        .row
            .col-xs-8
                block content
            .col-xs-4
                block sidebar