extends signup_layout

block title
    title #{title}

block content
    h2#title #{title}
    br
    // add in upload profile pic + scrolltips later
    // !! why are some of the form inputs expanding??
    form.form-horizontal(method='POST' action='')
        .form-group
            label.control-label.col-xs-3(for='fullname') Full Name*
            .col-xs-8
                input#fullname.form-control(type='text', name='fullname' placeholder='Enter full name (required)')
        .form-group
            label.control-label.col-xs-3(for='email') Email*
            .col-xs-8
                input#email.form-control(type='text', name='email', placeholder='Enter email (required)')
            
        .form-group
            label.control-label.col-xs-3(for='phonenum') Contact Number
            .col-xs-8
                input#dob.form-control(type='text', name='phonenum', placeholder='Enter contact number (optional)')
        
        .form-group
            label.control-label.col-xs-3(for='dob') Date of Birth
            .col-xs-8
                input#dob.form-control(type='date', name='dob', placeholder='Enter date of birth (optional)')
        
        .form-group
            fieldset
                label.control-label.col-xs-3 Gender
                .col-xs-8
                    label.radio-inline(for='male')
                        input#male(type='radio', name='gender', value='Male')
                        |  Male
                    label.radio-inline(for='female')
                        input#female(type='radio', name='gender' value='Female')
                        |  Female
        
        .form-group
            label.control-label.col-xs-3(for='un') Username*
            .col-xs-8
                input#un.form-control(type='text', name='username', placeholder='Enter preferred username (required)')
        
        .form-group
            label.control-label.col-xs-3(for='pw') Password*
            .col-xs-8
                input#pw.form-control(type='password', name='password', placeholder='Enter password (required)')
                        
        .form-group
            label.control-label.col-xs-3(for='aboutme') About Me
            .col-xs-8
                textarea#aboutme.form-control(name='about', rows='5', max='500', placeholder='Enter a description of yourself (max length: 500 words)')
        
        br
        input.btn.btn-primary#submitBtn(type='submit', value='Sign Up')
        br