doctype html
html(lang='en')

header
    title Sign-Up Success
    link(rel='stylesheet', href='/stylesheets/signupSuccess.css')
    include header

body
    .container
        include navbar_employer
        .row.successContent
            .col-xs-offset-2.col-xs-8
                h1 Sign-Up Success!
                br
                a.btn.btn-primary(href='/employerDB/profile', role='button')
                    | See Profile