doctype html
html(lang='en')

header
    block title
    link(rel='stylesheet', href='/stylesheets/signup.css')
    include header
body
    .container
        include navbar_homepage
        .row
            .signup-box
                block content