.b1{
	font-size:20px;
	padding: 20px 25px 20px 25px;
	border-radius: 5px;
	background-color:rgb(90, 152, 252);
	color:white;
}

.b1:hover{
	text-decoration: none;
}

.b2{
	background-color:rgb(91, 247, 164);
	color:white;
	font-size:20px;
	padding: 20px 25px 20px 25px;
	border-radius: 5px;
}

.b2:hover{
	text-decoration: none;
	cursor: pointer;
}

.Wrapper{
	margin: auto;
	margin-top: 25%;
	text-align: center;
}
.edit{
	font-weight: bold;
	font-size: 40px;
}