.container-fluid{
	background-color:#000051;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
   	padding-left: 20px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: white;  /*Sets the text hover color on navbar*/
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white; /*BACKGROUND color for active*/
	background-color: white;
}

 .navbar-default {
 	color:white;
    border-color: #030033;
}

.dropdown-toggle{
	width: 100%;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #262626;
	text-decoration: none;
	background-color: #66CCFF;  /*change color of links in drop down here*/
}

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


.navbar-default .navbar-nav > li > a {
 	color: #e5e5e5; /*Change active text color here*/
 }

 .logo{
 	color:#4f4f4f;
 	padding-right: 5px;
 }

.caret{
	color:#4f4f4f;
}

 .carrotName{
 	color:#4f4f4f;
 }

 .btnDec{
 	height:40px;
 	background-color: #f2f2f2;
 }