.navbar {
    background-color: transparent;
    background: transparent;
    border: 0;
    font-size: 15px;
    font-family: 'Quicksand', serif;
 }

.navbar-header:hover{
	color: black;
}
  
.navbar li { color: #000 }
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: black;  /*Sets the text hover color on navbar*/
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active >   
 a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: black; /*BACKGROUND color for active*/
}

.dropdown-toggle{
	width: 100%;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	color: #262626;
	text-decoration: none;
	background-color: #66CCFF;  /*change color of links in drop down here*/
}

 .navbar > li > a:hover,
 .navbar > li > a:focus {
    text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
  }


.navbar-inverse .navbar-nav > li > a {
 	color: #4f4f4f; /*Change active text color here*/
 }

 .logo{
 	color:#4f4f4f;
 	padding-right: 5px;
 }

.caret{
	color:#4f4f4f;
}

.carrotName{
 	color:#4f4f4f;
}

.btnDec{
	height:40px;
 	background-color: #f2f2f2;
}

.signup:hover{
	cursor: pointer;
}

.test #submitBtn{
	width: 300px;
	font-size: 15px;
	color: white;
	font-weight: bold;
	background-color: #31bae0;
	border: none;
	-webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -ms-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.test #submitBtn:hover{
	background-color: #72e0ff;
}

.submitBtn{
	text-align: center;
}

#closeBtn{
	float: right;
}

.footer_text{
	text-align: center;
}

.modal-body{

}

.login{
	width: 510px;
}

.test{
	margin-left: 30px;
	margin-right: 30px;
}

.modal-backdrop {
  z-index: 0;
}