.viewApplicants {
    border-style: groove;
    margin-bottom: 30px;
    border-radius: 7px;
}

#profile-pic2 {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;   
    border-radius: 7px; 
}

#profile-details {
    font-size: 16px;
    margin-right: 20px;
}

.contact-app{
	padding: 10px 30px 10px 30px;
	background-color: #25846f;
	color: white;
	border-radius: 5px;
	font-size: 12px;
    width: 500px;
    font-family: 'Quicksand', sans-serif;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.contact-app:hover,
.contact-app:active{
	text-decoration: none;
	color: white;
	background-color: #2ea58b;
}

body{
    background-image: url("/images/background.png");
    font-family: 'Quicksand', sans-serif;
}