.viewApplicants {
    border-style: groove;
    margin-bottom: 30px;
}

#profile-pic2 {
    height: 300px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;    
}

#profile-details {
    font-size: 16px;
    margin-right: 20px;
}